.dashboard {
  .nav-tabs {
    margin-bottom: 20px;
  }

  .new-status-tabs {
    margin-bottom: 30px;
  }

  .new-status {
    margin-bottom: 10px;

    textarea:focus {outline:0px none transparent;}

    textarea {
      border: 1px solid #ddd;
      width: 100%;
      max-width: 100%;
      -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.05);
      height: 63px;
      padding: 12px 13px 0 13px;
    }

    .buddy {
      color: #767676;
      font-size: 12px;
    }
  }

  .status {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
    
    .avatar {
      float: left;
      width: 60px;

      img {
        border-radius: 2px;
      }
    }

    .content {
      overflow: hidden;
      padding-left: 10px;

      .author {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
      }
    }
  }
}