.login {
  height: 100%;

  #status {
    visibility: hidden;
  }

  .container {
    height: 100%;
    display: table;
  }
   
  .row {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }
}