.people {
  h3 {
    margin-top: 0;
    color: #021139;

    span > small > a {
      color: #021139;
    }
  }

  table {
    border-top: 2px solid #021139;
  }

  .person {
    td {
      display: table-cell;
      vertical-align: middle; 
    }

    .avatar {
      width: 38px;
    }

    .name {
      display: block;
      font-weight: bold;
    }

    .title {
      display: block;
      color: #767676;
    }

    .location {
      color: #767676;
    }

    .inactive {
      color: #767676;
    }

    i {
      font-size: 16px;
    }
  }
}