.people {
  h3 {
    margin-top: 0;
    color: $brand-primary;

    span > small > a {
      color: $brand-primary;
    }
  }

  table {
    border-top: 2px solid $brand-primary;
  }

  .person {
    a {
      color: $brand-primary;
    }

    td {
      display: table-cell;
      vertical-align: middle; 
    }

    .avatar {
      width: 38px;

      img {
        border-radius: 2px;
      }
    }

    .name {
      display: block;
      font-weight: bold;
    }

    .title {
      display: block;
      color: #9696a6;
    }

    .location {
      color: #9696a6;
    }

    .inactive {
      color: #9696a6;
    }

    i {
      font-size: 16px;
    }
  }
}