<div id="navbar"></div> 

<section class="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <ul class="nav orchestra-side-nav">
          <li class="active"><a href="/">What's up?</a></li>
          <li><a href="/people">People</a></li>
          <li><a href="/actions">Sections</a></li>
        </ul>
      </div>
      <div class="col-md-10">
        <div class="tab-wrapper tab-primary new-status-tabs" role="tabpanel">
          <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#write" aria-controls="write" role="tab" data-toggle="tab">Write</a></li>
            <li role="presentation"><a href="#preview" aria-controls="write" role="tab" data-toggle="tab">Preview</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="write">
              <form id="new-status">
                <div class="new-status">
                  <textarea name="status" placeholder="wat up, y0?"></textarea>
                  <div class="buddy"><i class="fa fa-fw fa-map-marker"></i> Pentagon City, VA</div>
                </div>
                <button class="btn btn-primary text-center">Post status</button>
              </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="preview">
              HO.
            </div>
          </div>
        </div><!-- /tabs -->
        <div class="statuses">
          <% _.each(statuses, function(status) { %>
            <div class="status">
              <div class="avatar">
                <img src="http://www.gravatar.com/avatar/?s=60&default=identicon" height="60" width="60" />
              </div>
              <div class="content">
                <span class="author"><%= status.user.full_name %></span>
                <div class="">
                  <%= status.message %>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
      </div>
    </div>
  </div>
</section>