<section class="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <ul class="nav orchestra-side-nav">
          <li class="active"><a href="/">What's up?</a></li>
          <li><a href="/people">People</a></li>
          <!-- <li><a href="/actions">Sections</a></li> -->
        </ul>
      </div>
      <div class="col-md-10">
        <div class="tab-wrapper tab-primary new-status-tabs" style="padding-left: 10px; border-left: 2px solid #2b499c;" role="tabpanel">
          <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#write" aria-controls="write" role="tab" data-toggle="tab">Write</a></li>
            <li role="presentation"><a href="#preview" aria-controls="write" role="tab" data-toggle="tab">Preview</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="write">
              <form id="new-status">
                <div class="new-status">
                  <textarea name="status" placeholder="wat up, y0?"></textarea>
                  <div class="buddy"><i class="fa fa-fw fa-map-marker"></i> Pentagon City, VA</div>
                </div>
                <button class="btn btn-primary text-center">Post status</button>
              </form>
            </div>
            
            <div role="tabpanel" class="tab-pane" id="preview">
              HO.
            </div>
          </div>
        </div><!-- /tabs -->
        <div class="statuses">
          <% _.each(statuses, function(status) { %>
            <div class="status" style="padding-left: 10px; border-left: 2px solid #ccc;">
              <div class="avatar">
                <img src="http://www.gravatar.com/avatar/?s=60&default=identicon" height="60" width="60" />
              </div>
              <div class="content">
                <span class="author"><%= status.user.full_name %></span>
                <div style="margin-bottom: 10px;">
                  <%= status.message %>
                </div>
                <ul style="list-style: none;
                    padding: 0;
                    background-color: #f5f5f5;
                    box-sizing: border-box;
                    border: 1px solid #ccc;">
                  <li style="padding: 10px 10px 0; margin: 0;">
                    <img src="http://www.gravatar.com/avatar/366d95ab4984162d53d9477d17850298?s=32&amp;default=identicon"style="float: left;">
                    <div style="display: block; overflow: hidden; padding-left: 10px;">
                      <span style="
                        height: 32px;
                        overflow: hidden;
                        width: 100%;
                        padding: 0 5px;
                        outline: none;
                        box-sizing: border-box;"><strong>Joshua K. Farrar</strong> lol, i love cats too!<span>
                    </div>
                  </li>

                  <li style="padding: 10px; margin-top: 10px;">
                    <img src="http://www.gravatar.com/avatar/366d95ab4984162d53d9477d17850298?s=32&amp;default=identicon"style="float: left;">
                    <div style="display: block; overflow: hidden; padding-left: 10px;">
                      <input placeholder="Write a comment..." type="text" style="
                        height: 32px;
                        overflow: hidden;
                        width: 100%;
                        padding: 0 5px;
                        outline: none;
                        box-sizing: border-box;">
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          <% }); %>
        </div>
      </div>
    </div>
  </div>
</section>