<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div id="status" class="alert alert-danger" role="alert">
        <span class="sr-only">Error:</span>
        <span class="message"></span>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Join</h3>
        </div>
        <div class="panel-body">
          <form method="post">
            <p><input id="email" type="text" class="form-control" placeholder="Username"></p>
            <p><input id="password" type="password" class="form-control" placeholder="Password"></p>
            <ul class="nav nav-pills">
              <li><button class="btn btn-primary">Join</button></li>
              <li><a href="/login" class="btn btn-default">Login</a></li>
            </ul>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>