<div id="navbar"></div> 

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <ul class="nav orchestra-side-nav">
          <li><a href="/">What's up?</a></li>
          <li class="active"><a href="/people">People</a></li>
          <li><a href="/actions">Sections</a></li>
        </ul>
      </div>
      <div class="col-md-10">
        <h3>People</h3>
      </div>
    </div>
  </div>
</section>