<div id="navbar"></div> 

<section class="people">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <ul class="nav orchestra-side-nav">
          <li><a href="/">What's up?</a></li>
          <li class="active"><a href="/people">People</a></li>
          <li><a href="/actions">Sections</a></li>
        </ul>
      </div>
      <div class="col-md-10">
        <h3>People <span class="pull-right"><small><a href="#"><i class="fa fa-fw fa-plus"></i></a></small></span></h3>

        <table class="table">
          <% _.each(people, function(person) { %>
            <tr class="person">
              <td class="avatar">
                <% if (person.gravatar) { %>
                  <img src="http://www.gravatar.com/avatar/<%= person.gravatar %>?s=38" height="38" width="38" />
                <% } else { %>
                  <img src="http://www.gravatar.com/avatar/?s=38&default=identicon" height="38" width="38" />
                <% } %>
              </td>
              <td>
                <span class="name"><a href="/profile/<%= person.username %>"><%= person.full_name %></a></span>
                <span class="title"><%= person.title %></span>
              </td>
              <td class="text-center">
                <span class="location"><%= person.location %></span>
              </td>
              <td class="text-right">

                <% if (person.github) { %>
                  <a href="https://github.com/<%= person.github %>"><i class="fa fa-fw fa-github" class="invactive"></i></a>
                <% } else { %>
                  <i class="inactive fa fa-fw fa-github"></i>
                <% } %>

                <% if (person.twitter) { %>
                  <a href="https://twitter.com/<%= person.twitter %>"><i class="fa fa-fw fa-twitter"></i></a>
                <% } else { %>
                  <i class="inactive fa fa-fw fa-twitter"></i>
                <% } %>

                <% if (person.email) { %>
                  <a href="mailto:<%= person.email %>"><i class="fa fa-fw fa-envelope-o"></i></a>
                <% } else { %>
                  <i class="inactive fa fa-fw fa-envelope-o"></i>
                <% } %>
              </td>
            </tr>
          <% }); %>
        </table>
      </div>
    </div>
  </div>
</section>